.sidebar {
	grid-area: sidebar;
	width: 50px;
	height: 100vh;
	transition: width 0.5s ease-in-out;
	border-right: 1px solid $color-border;

	&.is_open {
		width: 250px;
	}

	&-wrapper {
		padding: 10px 10px 0 10px;
	}

	&-icon {
		padding-bottom: 10px;
	}

	&-list {
		opacity: 0;
		visibility: hidden;
		transition: all 0.1s ease-in 0.2s;

		&.is_visible {
			opacity: 1;
			visibility: visible;
		}
	}
}
