* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: $color-body;
	color: $color-text;
}

ul,
li {
	list-style: none;
}

main {
	grid-area: main;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.grid-layout {
	display: grid;
	grid-template-areas:
		'sidebar header'
		'sidebar main';
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
}
